#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul.navbar-right {
    float: right;
}

#navbar ul > li {
    float: left;
    margin: 0;
    padding: 0;
    border-right: 1px solid #bbb;
}

#navbar ul.navbar-right > li {
    border-right: none;
    border-left: 1px solid #bbb;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    height: 52px;
    line-height: 52px;
    text-decoration: none;
}

#navbar li a.active {
    background-color: #4CAF50;
}

#navbar li a:hover {
    background-color: #00323d;
}


.menu-second {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu > .menu-li {
    position: relative;
}

.menu-li .menu-second {
    position: absolute;
    top: 40px;
    width: 100%;
    background-color: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.menu-second-li {
    width: 100%;
}

.menu-li:hover ul.menu-second {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.caret-down:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

